/examples/atf/Sententia_arm-trusted-firmware_demo.gar filter=lfs diff=lfs merge=lfs -text
/examples/atf/sententia-demo-O2-bl31.db filter=lfs diff=lfs merge=lfs -text
/examples/atf/sententia-demo-O2.db filter=lfs diff=lfs merge=lfs -text
